@import "../../constants";
@import "../../../../../node_modules/compass-sass-mixins/lib/animate";

.navigation {

  .button_container {
    padding: 0;
    border: none;
    background: transparent;
    outline: none;

    position: fixed;
    top: 1rem;
    right: 1rem;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    @include transition(opacity .25s ease);

    &:before {
      position: absolute;
      top: -60%;
      content: '';
      width: 220%;
      height: 220%;
      left: -60%;
    }

    &:hover {
      opacity: .7;
    }

    &.active {
      .top {
        @include transform(translateY(11px) translateX(0) rotate(45deg));
        background: #ffffff;
      }
      .middle {
        opacity: 0;
      }
      .bottom {
        @include transform(translateY(-11px) translateX(0) rotate(-45deg));
        background: #ffffff;
      }
      &:hover {
        opacity: .4;
      }
    }

    span {
      background: $primary-color;
      border: none;
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include transition(all .35s ease);
      cursor: pointer;

      &:nth-of-type(2) {
        top: 11px;
      }

      &:nth-of-type(3) {
        top: 22px;
      }
    }
  }

  .overlay {
    position: fixed;
    background: $primary-color;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    @include transition(opacity .4s, visibility .4s, height .4s);

    &.open {
      opacity: .95;
      visibility: visible;
      height: 100%;
      z-index: 2;

      li {
        @include animation(fadeInRight .5s ease forwards);
        @include animation-delay(.35s);

        &:nth-of-type(2) {
          @include animation-delay(.4s);
        }
        &:nth-of-type(3) {
          @include animation-delay(.45s);
        }
        &:nth-of-type(4) {
          @include animation-delay(.5s);
        }
        &:nth-of-type(5) {
          @include animation-delay(.55s);
        }
        &:nth-of-type(6) {
          @include animation-delay(.6s);
        }
      }
    }
    nav {
      position: relative;
      height: 70%;
      top: 50%;
      @include transform(translateY(-50%));
      font-size: 1.8rem;
      text-align: center;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%;

      li {
        display: block;
        height: 4rem;
        min-height: 2.5rem;
        position: relative;
        opacity: 0;

        a {
          display: block;
          position: relative;
          color: #ffffff;
          text-decoration: none;
          overflow: hidden;

          &:hover,
          &:focus,
          &:active {
            opacity: .4;
          }
        }
      }
    }
  }

  @include keyframes(fadeInRight) {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
}

@media only screen and (min-width: $size-md) {
  .navigation {
    .button_container {
      left: 1rem;
      right: auto;
    }
  }
}
