@import "../../mixins/common";
@import "../../constants";

$tile-icon-large: 52px;

// Tiles
.tile {
  align-content: space-between;
  align-items: flex-start;
  display: flex;
  position: relative;

  &.tile-item {
    @include itemize();
  }

  .tile-action {
    flex: 0 0 auto;
  }

  .tile-icon {
    flex: 0 0 2rem;
    text-align: center;
    &.large {
      .material-icons {
        width: $tile-icon-large;
        font-size: 36px;
      }
    }
  }
  .title-avatar {
    height: 40px;
    width: 40px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
    &.large {
      height: $tile-icon-large;
      width: $tile-icon-large;
    }
    &.tile-avatar-rounded {
      border-radius: 100%;
    }
  }
  .tile-content {
    flex: 1 1 auto;
    &:not(:first-child) {
      padding-left: $unit-2 + .3rem;
    }
    &:not(:last-child) {
      padding-right: $unit-2 + .3rem;
    }
  }
  .tile-title,
  .tile-subtitle {
    line-height: $line-height;
  }
  .tile-subtitle {
    opacity: 0.4;
  }

  &.tile-centered {
    align-items: center;

    .tile-content {
      overflow: hidden;
    }

    .tile-title,
    .tile-subtitle {
      @include text-ellipsis();
      margin-bottom: 0;
    }
  }

  .tile-progress {
    @include transition(width 300ms ease-in-out);
    position: absolute;
    background-color: rgba(176, 208, 152, 0.7);
    bottom: 0;
    left: 0;
    height: 3px;
  }
}
