@import "../../../../../node_modules/compass-sass-mixins/lib/compass";

.center {
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  min-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .centered-component {
    @include flex(0 0 auto);
    max-width: 100%;
  }
}
