@import "../../constants";

.time-item {
  color: $primary-color;
  font-size: 1rem;

  &:before {
    content: '';
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    top: 0.55rem;
    left: -1.35rem;
    background: $main-bg;
    border-radius: 50%;
    z-index: 1;
    box-sizing: border-box;
  }
}
