@import "../../constants";

.timeline {
  position: relative;
  margin-top: 1rem;

  &:after {
    content: '';
    position: absolute;
    width: 0.1rem;
    background-color: #ff6b76;
    top: -0.6rem;
    bottom: -0.6rem;
    left: 0.65rem;
    opacity: 0.3;
  }
}
