.form-autocomplete {
  .menu .menu-item > a {
    &.is-focused {
      color: #5764c6;
      box-shadow: 0 0 0 0.2rem rgba(87,100,198,.15);
    }
  }
  .custom-divider {
    padding-top: 1.5rem;
    padding-bottom: 1.2rem;
  }
}
