.music-request-loading {
  .icon {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
  }
  .music-request-loading-content {
    width: 100%;
  }
  .music-request-loading-content-title {
    margin-left: .7rem;
    margin-bottom: .25rem;
    width: 40%;
    height: .9rem;
  }
  .music-request-loading-content-subtitle {
    margin-left: .7rem;
    width: 30%;
    height: .8rem;
  }
}
