@import "../../../constants";
@import "../../../mixins/common";

.text-field {
  @include form-field();

  width: 100%;
  padding-top: $padding-default + .2rem;
  padding-bottom: $padding-default;

  input {
    @include control-transition();
    position: relative;
    z-index: 1;
    width: 100%;
    color: $text-primary-color;
    &:focus {
      border-bottom-color: $primary-color;
    }
    &::placeholder {
      color: $text-secondary-color;
    }
  }

  .label {
    position: absolute;
    z-index: 0;
  }
}
