@import "../../../constants";
@import "../../../mixins/common";

.text-field {
  @include form-field();

  width: 100%;
  padding-top: $padding-default + .2rem;
  padding-bottom: $padding-default;
  padding: $padding-default;

  input {
    @include control-transition();
    position: relative;
    z-index: 1;
    width: 100%;
    color: $text-primary-color;
    &:focus {
      border-bottom-color: $primary-color;
    }
    &::placeholder {
      color: $text-secondary-color;
    }
  }

  .label {
    position: absolute;
    z-index: 0;
  }

  &.has-icon-left,
  &.has-icon-right {
    position: relative;

    .icon {
      display: block;
      margin: 0 $control-padding-y;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: $control-icon-size;
      left: 0;
      color: $text-secondary-color;
    }
  }

  &.has-icon-left {
    padding-left: 2.2rem;
  }
  &.has-icon-right {
    padding-right: 2.2rem;
  }
}
