@import "../../../layout/constants";
@import "../../../layout/mixins/common";

@mixin galler-section-item() {
  float: left;
  padding-right: 2px;
  padding-bottom: 2px;
}

.gallery-section {
  background: white;

  .gallery-section-headline {
    padding: 0;
  }
  .gallery-section-items {
    margin-right: -2px;
    > div:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .gallery-section-video-wrapper {
    @include galler-section-item();
    width: 100%;
    video {
      background-color: #595959;
    }
    @media only screen and (min-width: $size-sm) {
      height: 175px;
      width: 40%;
    }
    @media only screen and (min-width: $size-md) {
      height: 175px;
      width: 33.33%;
    }
    @media only screen and (min-width: $size-lg) {
      height: 175px;
      width: 25%;
    }
    video {
      display: block;
    }
  }
  .gallery-section-image-wrapper {
    @include galler-section-item();
    height: 175px;
    width: 50%;
    @media only screen and (min-width: 380px) {
      width: 33.33%;
    }
    @media only screen and (min-width: $size-sm) {
      width: 20%;
    }
    @media only screen and (min-width: $size-md) {
      width: 16.66%;
    }
    @media only screen and (min-width: $size-lg) {
      width: 12.5%;
    }
    &:focus,
    &:active,
    &.active {
      opacity: 0.8;
    }
    cursor: pointer;

    .gallery-section-image-wrapper-wrapper {
      overflow: hidden;
      height: 100%;
    }
    .gallery-section-image {
      @include transform(scale(1.23, 1.23));
    }
  }

  .g-nav {
    display: flex;
    padding: .5rem .8rem;

    @media only screen and (min-width: $size-md) {
      flex-direction: row-reverse;
    }

    .g-nav-controls {
      padding: 0 1.5rem;
      > * {
        margin: 0 .2rem;
      }
    }

    .headline {
      height: 2.4rem;
      line-height: 2.4rem;
    }
  }

  .gallery-section-btns-item {
    display: flex;
    .btn,
    a .btn {
      width: 100%;
    }
    > a,
    > .btn {
      margin: 0 .2rem;
    }
  }
}

.gallery-section-carousel {
  height: 100% !important;
  .slider-frame {
    height: 100% !important;
  }
}
