@import "../../constants";
@import "../../mixins/common";

.item {
  @include itemize();

  &.link-item {
    display: block;
    text-decoration: none;
    &:active {
      background-color: rgba(0,0,0,.03);
    }
    &:visited {
      color: $text-primary-color;
    }
  }

  p {
    margin-top: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

