@import "../layout/constants";
@import "../../../node_modules/compass-sass-mixins/lib/compass";

.content {

  &.nav-open {
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
  }

  .header {
    position: relative;
    height: 75vh;
    width: 100%;
    overflow: hidden;
    &.header-sm {
      height: 40vh;
    }

    .header-content {
      height: 100%;
    }
    .header-img {
      width: 100%;
      height: 100%;
    }
    .header-text {
      position: absolute;
      z-index: 30;
      bottom: 2rem;
      font-size: 3rem;
      font-weight: 600;
      line-height: 3rem;
      margin-left: 1rem;
      color: #fff;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
      width: 0;
    }
  }

  .content-content {
    > * {
      background: #f2f2f2;
    }
  }
}

@media only screen and (orientation: landscape) {
  .content {
    .header {
      height: 100vh;
    }
  }
}

@mixin lg-view {
  $right-side-width: 38%;
  $left-side-flex: 0 0 62%;
  $right-side-flex: 0 0 $right-side-width;

  .content {
    .header {
      .header-content {
        @include flex($left-side-flex);
      }
      &:after {
        @include flex($right-side-flex);
      }
    }
    .content-content {
      &:before {
        @include flex($left-side-flex);
      }
      > * {
        @include flex($right-side-flex);
        max-width: $right-side-width;
      }
    }
  }
}

@mixin md-view {
  $right-side-width: 42%;
  $left-side-flex: 0 0 58%;
  $right-side-flex: 0 0 $right-side-width;

  .content {
    display: block;
    position: absolute;
    min-height: 100%;
    min-width: 100%;

    .header {
      @include display-flex(flex);
      @include flex-direction(row);
      height: 100vh;
      &.header-sm {
        height: 100vh;
      }
      position: fixed;
      display: flex;
      flex-direction: row;
      top: 0;
      left: 0;
      right: 0;
      .header-content {
        @include flex($left-side-flex);
      }
      &:after {
        @include flex($right-side-flex);
        content: ' ';
        display: block;
        background-color: #fff;
      }
    }

    .content-content {
      @include display-flex(flex);
      @include flex-direction(row);
      &:before {
        @include flex($left-side-flex);
        display: block;
        content: ' ';
        height: 100%;
      }
      > * {
        @include flex($right-side-flex);
        max-width: $right-side-width;
      }
    }
  }
}

@media only screen and (min-width: $size-md) {
  @include md-view();
}

@media only screen and (min-width: $size-lg) {
  @include lg-view();
}
