@import "../../constants";

.er-icon {
  font-size: 1.4rem;
  color: $primary-color;
  background: -o-linear-gradient(transparent, transparent);
  background: linear-gradient(135deg, #ff9966 0%, #ff5e62 100%);
  background: -webkit-linear-gradient(135deg, $primary-color 0%, #ff9966 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &.lg {
    font-size: 2.4rem;
  }
}
