@import "../../constants";

.er-icon {
  font-size: 1.4rem;
  color: $primary-color;
  background: -o-linear-gradient(transparent, transparent);
  background: -webkit-linear-gradient(135deg, $primary-color 0%, #ff9966 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &.lg {
    font-size: 2.4rem;
  }
  &.inverse {
    background: transparent;
    -webkit-text-fill-color: white;
  }
}
