@import "../../constants";

.form-field {
  $border-color: $brand-1;

  .input {

    i {
      font-size: 17px;
    }

    .ant-input-prefix {
      left: 17px;
    }

    &.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
      border-color: $border-color;
    }

    input {
      font-size: 16px;
      border-radius: 0;
      padding: 30px 30px 30px 25px;

      &.ant-input:not(:first-child) {
        padding-left: 40px;
      }

      &:focus {
        border-color: $border-color;
        box-shadow: 0 0 0 2px rgba(80, 173, 191, 0.2);
      }
    }
  }

  @media #{$desktop} {
    .input {

      i {
        font-size: 13px;
      }

      input {
        font-size: 12px;
        padding: 25px 25px 25px 20px;

        &.ant-input:not(:first-child) {
          padding-left: 45px;
        }
      }
    }
  }
}
