.music-request-loading {
  .icon {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
  }
  .content {
    width: 100%;
  }
  .title {
    margin-left: .7rem;
    margin-bottom: .25rem;
    width: 40%;
    height: .9rem;
  }
  .subtitle {
    margin-left: .7rem;
    width: 30%;
    height: .8rem;
  }
}
